<div id= "services">
    <h2>Check Out Some of the Services We Provide!</h2>
    <div class="card">
    <div class="card-body" id="local-guides">
        Local Guides
    </div>
    </div>
    <div class="card">
    <div class="card-body" id="interpreters">
        Interpreters
    </div>
    </div>
    <div class="card">
    <div class="card-body" id="photographer">
        Personal Photographer
    </div>
    </div>
    <div class="card">
    <div class="card-body" id="nightlife">
        Nightlife Expert
    </div>
    </div>

</div>

{{!-- add to api routes --}}