 <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="name" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="emailaddress">Email address</label>
            <input type="email" class="formcontrol" id="emailaddress" placeholder="Name@example.com">
          </div>
            <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="formcontrol" id="username" placeholder="Username">
          </div>
            <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" placeholder="Password">
          </div>
           <div class="form-group">
            <label for="birthday">Birthday</label>
            <input type="date" class="formcontrol" id="birthday" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="location">Where would you like to travel?</label>
            <select class="form-control" id="location">
              <!--dynamically load these from table later-->
              <option>North America</option>
              <option>Asia</option>
              <option>South America</option>
              <option>Antartica</option>
              <option>Australia</option>
              <option>Africa</option>
              <option>Europe</option>
            </select>
          </div>
          <div class="form-group">
            <label for="travelguide">Would you like a travel guide?</label>
            <select class="form-control" id="travelguide">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="form-group">
            <label for="time">When would you like to travel?</label>
            <select class="form-control" id="time">
              <option>January</option>
              <option>February</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>November</option>
              <option>December</option>
         
            </select>
          </div>
          <div class="form-group">
            <label for="specialrequests">Do you have any special requests?</label>
            <textarea class="form-control" id="specialrequests" rows="3"></textarea>
          </div>
          <input class="btn btn-primary" type="submit" id="submit" value="Submit">
     
         </form>
         
        </div>
      </div>
    </div>
    <form>
      
    
  </body>
</html>