<section class="engine"></section><section class="mbr-section content5 cid-rm3mRK3osC" id="content5-w">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">Where It All Started</h2>
                
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content10 cid-rm3sxcW5Um" id="content10-12">
    
     

    <div class="container">
        <div class="inner-container" style="width: 66%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-5">If You Are Waiting For Someone To Travel With...<br>You May End Up Waiting A Life Time!</div>
            <hr class="line" style="width: 25%;">
        </div>
    </div>
</section>

<section class="mbr-section content6 cid-rm3mUwYHMv" id="content6-x">
    
     
    
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 60%;">
                      <img src="assets/images/mbr-436x326.jpg" alt="Voyager" title="">  
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7">Every journey begins with a single step!<br>Our customers often tell us how they wish they had taken their first holiday with us sooner, but their apprehension got in the way of that initial step. Whilst travelling has become second nature to many, we recognise that there are those who need a little extra help summoning up the courage to take their first solo journey. Whether or not you’re a seasoned traveller, our friendly and experienced staff are only a phone call away and will be happy to assist and answer any questions you may have.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content7 cid-rm3mV0ytPC" id="content7-y">
          
    

    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-7">The Solos ethos<br>Great experiences are always special when there’s someone to share them with. With Voyager, you'll be joining a sociable group where there will always be somebody with whom to embrace those cherished moments which will become your fond memories. You can dip in and out of activities as you please. Flexibility is the name of the game; let’s face it, it’s your holiday so you should feel free to spend your time entirely as you wish, a further benefit of being with a Solos group.</p>
                        </div>
                    </div>
                    <div class="mbr-figure" style="width: 60%;">
                     <img src="assets/images/mbr-1-436x291.jpg" alt="Voyager" title="">  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-rm3wCfwoBy" id="features15-16">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Your Solos Tour Leader</h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style display-7">The magic ingredient! Our Tour Leaders accompany every group and understand exactly what you want to get from your trip. Many of them actually started off as Solos customers, just like you.<div><br></div><div>They will be there to lend a helping hand whenever it's needed and will work behind the scenes to ensure that everything runs smoothly, whilst blending in with the group to make sure everybody is happy and enjoying their holiday to the full.</div><div><br></div><div>We choose our Tour Leaders for their personality, their joie de vivre and their ability to deal with all situations; of course, a great sense of humour is also a pre-requisite of the role!</div><div><br></div><div>You will also benefit from the services of an experienced local guide who will join you for elements of your sightseeing experience, and who will be on hand to share their knowledge of the area with you.</div></h3>

        <div class="media-container-row container pt-5 mt-2">

            <div class="col-12 col-md-6 mb-4 col-lg-3">
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="assets/images/mbr-1-900x590.jpg" alt="Voyager" title="">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title display-5 py-2 mbr-fonts-style">Greece&nbsp;</h4>
                        <p class="mbr-text mbr-fonts-style display-7">"01/04/2019"</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-4 col-lg-3">
                
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="assets/images/mbr-904x452.jpg" alt="Voyager" title="">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                            Japan</h4>
                        <p class="mbr-text mbr-fonts-style display-7">"08/08/2018"</p>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 mb-4 col-lg-3">
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="assets/images/mbr-1-900x600.jpg" alt="Voyager" title="">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                            Paris</h4>
                        <p class="mbr-text mbr-fonts-style display-7">"07/07/2017"</p>
                    </div>
                </div> 
            </div>

            <div class="col-12 col-md-6 mb-4 col-lg-3">
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="assets/images/mbr-2-900x600.jpg" alt="Voyager" title="">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                            Phu Quoc, Viet Nam</h4>
                        <p class="mbr-text mbr-fonts-style display-7">"05/05/2017"</p>
                    </div>
                </div> 
            </div>
        </div>
</div></section>