<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Voyager</h2>
      </div>
    </div>
    <div class ="row">
      <div class="col-6">
          <div class="review">
            This has been the best travel experience! I would have never been able to convince any of my friends to join me, but because of Voyager I was able to meet like-minded people to travel with.
          </div>
      </div>
       <div class="col-6">
         <div class="review">
            This has been the best travel experience! I would have never been able to convince any of my friends to join me, but because of Voyager I was able to meet like-minded people to travel with.
          </div>
      </div>
    </div>

        
        <button id="login" class="btn btn-primary">Login</button>
        <button id="signup" class="btn btn-primary">Sign up</button>


      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
