<section class="engine"></section><section class="mbr-section content5 cid-rm3mRK3osC" id="content5-w">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">Your Match!</h2>
                
                
                
            </div>
        </div>
    </div>
</section>
<section class="mbr-section content6 cid-rm3mUwYHMv" id="content6-x">
    
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="media-content">
                        {{#each similarVoyager}}
                        <div class="mbr-section-text">   
                        </div>
                        {{/each}}
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>